<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Social Distance Violation</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='index.css')}}"
    />
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Social Distancing Monitoring System</h1>
          {% if filename %}
          <!-- <p class="lead">Complete with pre-defined file paths and responsive navigation!</p> -->
          <img
            src="{{ url_for('video_feed',filename=filename) }}"
            width="85%"
            height="70%"
            class="img-rounded"
            alt="Gesture"
          />
          {% else %}
          <!-- <p class="lead">Complete with pre-defined file paths and responsive navigation!</p> -->
          <img
            src="{{ url_for('video_feed',filename=filename) }}"
            width="85%"
            height="70%"
            class="img-rounded"
            alt="Gesture"
          />
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
